body {background-color:black ; text-align:justify ;}
h1{text-align:center  ;background-color:yellow ;}
 
b {color:yellow ; font-size: 18px; ;}
 
header,footer{background-color: yellow; color: black;text-align: center;}
main {background-color: yellow;}